# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/

# VS Code settings folder
.vscode/

# macOS system files
.DS_Store

# Log files
*.log

# Environment variables / secrets
.env
bot_token.txt

# Python test / coverage
.coverage
.coverage.*
.cache
.pytest_cache/

# PyInstaller files
*.manifest
*.spec
